<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/config.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="ticket">

      <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
  </ion-nav-bar>

    <ion-nav-view animation="slide-left-right">
      <!-- Center content -->
    </ion-nav-view>

   <script id="ticket.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Ticket" hide-back-button="false">

        <ion-nav-buttons side="left">
           <a class="button icon ion-navicon" ui-sref="calendario"></a>
        </ion-nav-buttons> 
        <ion-nav-buttons side="right">
          <a class="button icon ion-navicon" ui-sref="listaTicket"></a>
        </ion-nav-buttons> 


        <ion-content>

           
            <ion-slide-box show-pager="false" active-slide="14" on-slide-changed="slideChanged($index)" > 
            

                  <ion-slide  ng-repeat="giorno in slides">
                    <div class="center">
                      <h3>{{giorno.nomeMese}}</h3>      
                      <h1>{{giorno.numeroGiorno}}</h1>
                       <h3>{{giorno.nomeGiorno}}</h3>
                    </div>

                  </ion-slide>

            </ion-slide-box>

         
            <span class="center"><button class="button button-block button-stable" ng-click="insertTicket()">ticket</button></span>   

      </ion-content>

  
  
      </ion-view> 
   
    </script>    

    <script id="listaTicket.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="lista ticket">
                
        <ion-nav-buttons side="left">
         <a class="button icon ion-ios7-arrow-back" ui-sref="ticket"></a>
        </ion-nav-buttons>

        <ion-content>
              <ion-list>
                <div ng-repeat="group in groups">
                  <ion-item class="item-stable"
                            ng-click="toggleGroup(group)"
                            ng-class="{active: isGroupShown(group)}">                                        
                    {{group.month}}&nbsp;{{group.yyyy}}<span class="badge badge-assertive">{{group.items.length}}</span>
                  </ion-item>
                  <ion-item class="item-accordion"
                            ng-repeat="item in group.items"
                            ng-show="isGroupShown(group)">
                        {{item.nomeGiorno}}&nbsp;{{item.numeroGiorno}}
                        <ion-option-button class="button-stable icon ion-close-round" ng-click="remove(item)">
                        </ion-option-button>
                  </ion-item>
                </div>
              </ion-list>
        </ion-content>
      </ion-view>
    </script> 

    <script id="calendario.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="{{calendario.mese}} {{calendario.anno}}">
                
        <ion-nav-buttons side="left">
         <a class="button icon ion-ios7-arrow-back" ui-sref="ticket"></a>
        </ion-nav-buttons>

        <ion-content>
          <div class="row">
            <div class="col"><b>D</b></div>
            <div class="col"><b>L</b></div>
            <div class="col"><b>M</b></div>
            <div class="col"><b>M</b></div>
            <div class="col"><b>G</b></div>
            <div class="col"><b>V</b></div>
            <div class="col"><b>S</b></div>
          </div>
          <div class="row">
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[0]})">{{calendario.giorni[0]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[1]})">{{calendario.giorni[1]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[2]})">{{calendario.giorni[2]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[3]})">{{calendario.giorni[3]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[4]})">{{calendario.giorni[4]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[5]})">{{calendario.giorni[5]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[6]})">{{calendario.giorni[6]}}</a></div>
          </div>
          <div class="row">
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[7]})" ui-sref-opts="{reload: true}">{{calendario.giorni[7]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[8]})">{{calendario.giorni[8]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[9]})">{{calendario.giorni[9]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[10]})">{{calendario.giorni[10]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[11]})">{{calendario.giorni[11]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[12]})">{{calendario.giorni[12]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[13]})">{{calendario.giorni[13]}}</a></div>
          </div>
          <div class="row">
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[14]})">{{calendario.giorni[14]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[15]})">{{calendario.giorni[15]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[16]})">{{calendario.giorni[16]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[17]})">{{calendario.giorni[17]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[18]})">{{calendario.giorni[18]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[19]})">{{calendario.giorni[19]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[20]})">{{calendario.giorni[20]}}</a></div>
          </div>
          <div class="row">
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[21]})">{{calendario.giorni[21]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[22]})">{{calendario.giorni[22]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[23]})">{{calendario.giorni[23]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[24]})">{{calendario.giorni[24]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[25]})">{{calendario.giorni[25]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[26]})">{{calendario.giorni[26]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[27]})">{{calendario.giorni[27]}}</a></div>
          </div>                    
          <div class="row">
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[28]})">{{calendario.giorni[28]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[29]})">{{calendario.giorni[29]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[30]})">{{calendario.giorni[30]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[31]})">{{calendario.giorni[31]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[32]})">{{calendario.giorni[32]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[33]})">{{calendario.giorni[33]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[34]})">{{calendario.giorni[34]}}</a></div>
          </div>  
          <div class="row">
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[35]})">{{calendario.giorni[35]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[36]})">{{calendario.giorni[36]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[37]})">{{calendario.giorni[37]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[38]})">{{calendario.giorni[38]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[39]})">{{calendario.giorni[39]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[40]})">{{calendario.giorni[40]}}</a></div>
            <div class="col"><a ui-sref="ticket({year: calendario.anno, month: calendario.month, day: calendario.giorni[41]})">{{calendario.giorni[41]}}</a></div>
          </div>
                               

        </ion-content>

        <div class="bar bar-footer">
          <a class="button icon ion-ios7-arrow-back" ng-click="previousMonth()"></a>
          <div class="title">{{calendario.mese}} {{calendario.anno}}</div>
          <a class="button icon ion-ios7-arrow-forward" ng-click="nextMonth()"></a>
        </div>

      </ion-view>
    </script> 


  </body>
</html>
