<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/config.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="ticket">

      <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
  </ion-nav-bar>

    <ion-nav-view animation="slide-left-right">
      <!-- Center content -->
    </ion-nav-view>

   <script id="ticket.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Ticket" hide-back-button="false">

        <ion-nav-buttons side="left">
           <a class="button icon ion-navicon" ui-sref="calendario"></a>
        </ion-nav-buttons> 
        <ion-nav-buttons side="right">
          <a class="button icon ion-navicon" ui-sref="listaTicket"></a>
        </ion-nav-buttons> 


        <ion-content>

           
            <ion-slide-box show-pager="false" active-slide="(oggi.dd-1)" on-slide-changed="slideChanged($index)" > 
            

                  <ion-slide  ng-repeat="giorno in slides">
                    <div class="center">
                      <h3>{{giorno.nomeMese}}</h3>      
                      <h1>{{giorno.numeroGiorno}}</h1>
                       <h3>{{giorno.nomeGiorno}}</h3>
                    </div>

                  </ion-slide>

            </ion-slide-box>

         
            <span class="center"><button class="button button-block button-stable" ng-click="insertTicket()">ticket</button></span>   

      </ion-content>

  
  
      </ion-view> 
   
    </script>    

    <script id="listaTicket.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="lista ticket">
                
        <ion-nav-buttons side="left">
         <a class="button icon ion-ios7-arrow-back" ui-sref="ticket"></a>
        </ion-nav-buttons>

        <ion-content>
              <ion-list>
                <div ng-repeat="group in groups">
                  <ion-item class="item-stable"
                            ng-click="toggleGroup(group)"
                            ng-class="{active: isGroupShown(group)}">                                        
                    {{group.month}}&nbsp;{{group.yyyy}}<span class="badge badge-assertive">{{group.items.length}}</span>
                  </ion-item>
                  <ion-item class="item-accordion"
                            ng-repeat="item in group.items"
                            ng-show="isGroupShown(group)">
                        {{item.nomeGiorno}}&nbsp;{{item.numeroGiorno}}
                        <ion-option-button class="button-stable icon ion-close-round" ng-click="remove(item)">
                        </ion-option-button>
                  </ion-item>
                </div>
              </ion-list>
        </ion-content>
      </ion-view>
    </script> 

    <script id="calendario.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="{{calendarSlides[$index].mese}}&nbsp;{{calendario.anno}}">
                
        <ion-nav-buttons side="left">
         <a class="button icon ion-ios7-arrow-back" ui-sref="ticket"></a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
         <a class="button icon ion-ios7-arrow-right" ui-sref="ticket"></a>
        </ion-nav-buttons>
        <ion-content>
          <ion-slide-box show-pager="false" active-slide="5" on-slide-changed="slideChanged($index)" > 
            
              <ion-slide  ng-repeat="calendario in calendarSlides">

                  <div class="row">
                    <div class="col">D</div>
                    <div class="col">L</div>
                    <div class="col">M</div>
                    <div class="col">M</div>
                    <div class="col">G</div>
                    <div class="col">V</div>
                    <div class="col">S</div>
                  </div>
                  <div class="row">
                    <div class="col"><a ng-click="setDay(calendario.giorni[0], calendario.meseNN, calendario.anno)">{{calendario.giorni[0]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[1], calendario.meseNN, calendario.anno)">{{calendario.giorni[1]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[2], calendario.meseNN, calendario.anno)">{{calendario.giorni[2]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[3], calendario.meseNN, calendario.anno)">{{calendario.giorni[3]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[4], calendario.meseNN, calendario.anno)">{{calendario.giorni[4]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[5], calendario.meseNN, calendario.anno)">{{calendario.giorni[5]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[6], calendario.meseNN, calendario.anno)">{{calendario.giorni[6]}}</a></div>
                  </div>
                  <div class="row">
                    <div class="col"><a ng-click="setDay(calendario.giorni[7], calendario.meseNN, calendario.anno)">{{calendario.giorni[7]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[8], calendario.meseNN, calendario.anno)">{{calendario.giorni[8]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[9], calendario.meseNN, calendario.anno)">{{calendario.giorni[9]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[10], calendario.meseNN, calendario.anno)">{{calendario.giorni[10]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[11], calendario.meseNN, calendario.anno)">{{calendario.giorni[11]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[12], calendario.meseNN, calendario.anno)">{{calendario.giorni[12]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[13], calendario.meseNN, calendario.anno)">{{calendario.giorni[13]}}</a></div>
                  </div>
                  <div class="row">
                    <div class="col"><a ng-click="setDay(calendario.giorni[14], calendario.meseNN, calendario.anno)">{{calendario.giorni[14]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[15], calendario.meseNN, calendario.anno)">{{calendario.giorni[15]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[16], calendario.meseNN, calendario.anno)">{{calendario.giorni[16]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[17], calendario.meseNN, calendario.anno)">{{calendario.giorni[17]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[18], calendario.meseNN, calendario.anno)">{{calendario.giorni[18]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[19], calendario.meseNN, calendario.anno)">{{calendario.giorni[19]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[20], calendario.meseNN, calendario.anno)">{{calendario.giorni[20]}}</a></div>
                  </div>
                  <div class="row">
                    <div class="col"><a ng-click="setDay(calendario.giorni[21], calendario.meseNN, calendario.anno)">{{calendario.giorni[21]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[22], calendario.meseNN, calendario.anno)">{{calendario.giorni[22]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[23], calendario.meseNN, calendario.anno)">{{calendario.giorni[23]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[24], calendario.meseNN, calendario.anno)">{{calendario.giorni[24]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[25], calendario.meseNN, calendario.anno)">{{calendario.giorni[25]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[26], calendario.meseNN, calendario.anno)">{{calendario.giorni[26]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[27], calendario.meseNN, calendario.anno)">{{calendario.giorni[27]}}</a></div>
                  </div>                    
                  <div class="row">
                    <div class="col"><a ng-click="setDay(calendario.giorni[28], calendario.meseNN, calendario.anno)">{{calendario.giorni[28]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[29], calendario.meseNN, calendario.anno)">{{calendario.giorni[29]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[30], calendario.meseNN, calendario.anno)">{{calendario.giorni[30]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[31], calendario.meseNN, calendario.anno)">{{calendario.giorni[31]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[32], calendario.meseNN, calendario.anno)">{{calendario.giorni[32]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[33], calendario.meseNN, calendario.anno)">{{calendario.giorni[33]}}</a></div>
                    <div class="col"><a ng-click="setDay(calendario.giorni[34], calendario.meseNN, calendario.anno)">{{calendario.giorni[34]}}</a></div>
                  </div>  
                </ion-slide>      
              </ion-slide-box>           

        </ion-content>

        <div class="bar bar-footer bar-stable">
          <button class="button icon ion-ios7-arrow-back" ng-click="prevMonth()"></button>
          <div class="title">{{anno}}&nbsp;{{mese}}</div>
          <button class="button icon ion-ios7-arrow-right" ng-click="nextMonth()"></button>
        </div>

      </ion-view>
    </script> 

<!--
    <ion-pane>
      <ion-header-bar class="bar-stable">        
        <h1 class="title">Ticket</h1>
        <button class="button icon ion-navicon"></button>
      </ion-header-bar>
      <ion-content>


         <div class="center">
          <h3>{{oggi.nomeMese}}</h3>      
          <h1>{{oggi.numeroGiorno}}</h1>
          <h3>{{oggi.nomeGiorno}}</h3>
          <h2>{{oggi.yyyy}}{{oggi.mm}}{{oggi.dd}}</h2>
        </div>
        <span class="center"><button class="button button-block button-stable" ng-click="insertTicket()">ticket</button></span>     

      </ion-content>
      <ion-footer-bar class="bar-stable">        
        <button class="button icon ion-ios7-arrow-back" ng-click="decrementDate()"></button>   
        
        
        <button class="button icon ion-ios7-arrow-forward" ng-click="incrementDate()"></button>
      </ion-header-bar>
    </ion-pane>
-->





  </body>
</html>
